<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>点石后台管理系统</title>
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_ruxh1msrjqhncdi.css">
<link href="/main/main.css?62f76ddc9f50f2e0b978" rel="stylesheet"></head>
<body>
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/moment.js/2.15.2/moment.min.js"></script>
    <script src="http://cdn.bootcss.com/moment.js/2.15.2/locale/zh-cn.js"></script>
    <script src="https://cdn1.lncld.net/static/js/av-min-1.5.0.js"></script>
<script type="text/javascript" src="/main/common.js?62f76ddc9f50f2e0b978"></script><script type="text/javascript" src="/main/main.js?62f76ddc9f50f2e0b978"></script></body>
</html>