body {
  margin: 0;
  font-size: .9rem;
  font-family: 'STHeiti', '\5FAE\8F6F\96C5\9ED1';
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}
body,
dl,
dd,
h 1,
h 2,
h 3,
h 4,
h 5,
h 6,
p,
form {
  margin: 0;
}
html {
  overflow-Y: scroll;
}
ol,
li,
ul {
  margin: 0;
  padding: 0;
}
ol,
li {
  list-style: none;
}
button {
  display: block;
  border: none;
  outline: none;
  font-weight: bold;
  -webkit-tap-highlight-color: transparent;
}
input,
select {
  outline: none;
  border: none;
  -moz-outline-style: none;
  -webkit-tap-highlight-color: transparent;
  background: #fff;
}
img {
  border: 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cl {
  clear: both;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tl {
  text-align: left;
}
/*全局链接*/
a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}
a:visited {
  color: #000;
}
a:link {
  color: #000;
}
a:hover {
  color: #000;
}
/*定位*/
.fixed {
  position: fixed;
  top: 0;
  left: 0;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
/*布局*/
.none {
  display: none;
}
.clear {
  clear: both;
}
.hand {
  cursor: pointer;
}
.overflow {
  overflow: hidden;
}
.b {
  font-weight: bold;
}
/*hack*/
.word {
  word-break: break-all;
}
/*英文强制换行*/
.width_fixed {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/*超出宽度的部分显示为...*/
/*调用demo .button('宽度','高度','字体大小','颜色','圆角'); */
.button01 {
  width: 100%;
  height: 30px;
  color: #fff;
  background: red;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
/*输入框*/
/*阴影*/
/*透明度*/
/*圆角*/
/*边框*/
.alert-div {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -302px;
  width: 200px;
  height: 200px;
  background: #fff;
  border: 1px solid #ccc;
  text-align: center;
}
.box-shadow-01 {
  box-shadow: inset 0 0 5px #ff6600;
}
@-webkit-keyframes alertShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes alertShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes alertHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes alertHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.icon {
  font-size: 1.3rem;
}
/*头部*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*border-bottom:1px solid #dedede;*/
  height: 45px;
  line-height: 45px;
  text-align: center;
  box-shadow: 0 0 8px #ddd;
}
.header .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.header .title {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  font-size: 1.1rem;
  font-weight: bold;
}
/*注册登录*/
.accounts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0;
}
.accounts input {
  margin-bottom: 10px;
  width: 100%;
  padding: 7px 0;
  text-indent: 1rem;
  background: #f5f5f5;
  border-radius: 5px;
}
.accounts button {
  width: 100%;
  padding: 7px 0;
  font-size: .9rem;
  background: purple;
  color: #fff;
  border-radius: 5px;
}
.accounts .link {
  padding: 10px 0;
  font-size: .8rem;
}
.accounts .link a {
  color: purple;
  font-size: .9rem;
}
.accounts .register {
  width: 80%;
}
/*底部bar*/
.tab-bar-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f9f9f9;
  /*border-top:1px solid #dedede;  */
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  padding: 2px;
  box-shadow: 0 0 8px #ddd;
}
.tab-bar-footer a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  border-radius: 10px;
  font-size: .85rem;
  padding-top: 2px;
}
.tab-bar-footer a i {
  width: 100%;
  clear: both;
}
.tab-bar-footer a b {
  display: block;
  font-weight: normal;
  font-size: .8rem;
  padding-top: 3px;
}
.tab-bar-footer a:active {
  background: #f5f5f5;
}
.tab-bar-footer .footer-active {
  color: red;
}
